
<div th:replace="header"></div>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Panel admina</h1>
    <p class="mb-4"></p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">




        <!-- Nested Row within Card Body -->
        <div class="row justify-content-center">
            <div class="col-12 mx-auto">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Podgląd meczu</h1>
                    </div>
                    <div class="row justify-content-center align-items-center text-center mb-4" th:object="${game}">
                        <div class="col-3 " th:text="*{homeTeam}"></div>
                        <div class="col-3 fw-bold">:</div>
                        <div class="col-3" th:text="*{awayTeam}"></div>
                    </div>
                    <div class="row justify-content-center align-items-center text-center mb-4"  th:object="${game}">
                        <div class="col-3 " th:text="*{predictedHomeScore}"></div>
                        <div class="col-3 fw-bold"></div>
                        <div class="col-3" th:text="*{predictedAwayScore}"></div>
                    </div>
                    <div class="row justify-content-center align-items-center text-center mb-4"  th:object="${game}">
                        <div class="col-3"
                             th:text="${#temporals.format(game.gameDate, 'yyyy-MM-dd HH:mm')}"></div>

                    </div>
                    <div class="row justify-content-center align-items-center text-center mb-4"  th:object="${game}">
                        <div class="col-3" th:text="*{gameStatus}"></div>
                    </div>
                    <div class="row justify-content-center align-items-center text-center mb-4"  th:object="${game}">

                    </div>
                </div>
            </div>


        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<div th:replace="footer"></div>