
<div th:replace="header"></div>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Panel Admina</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-primary shadow-sm"></i> Dodaj mecz</a>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nr</th>
                        <th>Mecz</th>
                        <th>Wynik</th>
                        <th>Data</th>
                        <th>Status</th>
                        <th>Typuj</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="row,iter : ${games}">
                        <td th:text="${iter.index + 1}"></td>
                        <td>
                            <span th:text="${{row.homeTeam}}"></span> : <span th:text="${{row.awayTeam}}"></span>
                        </td>
                        <td>
                            <span th:text="${{row.homeScore}}"></span> : <span th:text="${{row.awayScore}}"></span>
                        </td>
                        <td th:text="${{row.gameDate}}"></td>
                        <td th:text="${{row.gameStatus}}"></td>
                        <td>
                            <a th:if="${row.scheduled}"
                                href="#" class="btn btn-primary">
                                <span class="icon text-white-50">
                                </span>
                                <span class="text">Edytuj</span>
                            </a>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(ranking)}">
                        <td colspan="4" class="text-center h3 mb-2 text-gray-80">Ranking pojawi się po pierwszym meczu.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<div th:replace="footer"></div>