<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Logowanie</title>
</head>
<body>
<h1>Logowanie</h1>
<form th:action="@{/login}" method="post">
    <div>
        <label>Login:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Hasło:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <button type="submit">Zaloguj</button>
    </div>
</form>
</body>
</html>