
<div th:replace="header"></div>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Moje mecze</h1>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nr</th>
                        <th>Mecz</th>
                        <th>Wynik</th>
                        <th>Data</th>
                        <th>Status</th>
                        <th>Typowany wynik</th>
                        <th>Uzyskane punkty</th>
                        <th>Rezultat innych graczy</th>

                    <tbody>
                    <tr th:each="row,iter : ${games}">
                        <td th:text="${iter.index + 1}"></td>
                        <td>
                            <span th:text="${{row.homeTeam}}"></span> : <span th:text="${{row.awayTeam}}"></span>
                        </td>
                        <td>
                            <span th:text="${{row.homeScore}}"></span> : <span th:text="${{row.awayScore}}"></span>
                        </td>
                        <td th:text="${{row.gameDate}}"></td>
                        <td th:text="${{row.gameStatus}}"></td>
                        <td>
                            <a th:if="${row.predictionId == null and !row.isFinished}"
                               th:href="@{/predictions/new/{id}(id=${row.gameId})}" class="btn btn-primary">
                                <span class="icon text-white-50">
                                </span>
                                <span class="text">Typuj wynik</span>
                            </a>
                            <span th:if="${row.predictionId != null}">
                                <span th:text="${row.predictedHomeScore}"></span> :
                                <span th:text="${row.predictedAwayScore}"></span>
                            </span>
                            <br>
                            <div>
                                <a th:if="${row.predictionId != null and !row.isFinished}"
                                   th:href="@{/predictions/edit/{id}(id=${row.predictionId})}"
                                   class="btn btn-outline-primary">
                                    <span class="icon text-white-50">
                                    </span>
                                    <span class="text">Modyfikuj</span>
                                </a>
                                <form th:if="${row.predictionId != null and !row.isFinished}"
                                      th:action="@{/predictions/delete/{id}(id=${row.predictionId})}"
                                      method="post"
                                      onsubmit="return confirm('Czy na pewno chcesz usunąć ten typowany wynik?');"
                                      style="display:inline;">
                                    <button type="submit" class="btn btn-outline-danger">
                                        <span class="icon text-white-50"></span>
                                        <span class="text">Usuń</span>
                                    </button>
                                </form>
                            </div>
                        </td>
                        <td>
                            <span th:if="${row.pointsId != null}">
                                <span th:text="${row.points}"></span>
                            </span>
                            <span th:if="${row.pointsId == null}">
                                <span>-</span>
                            </span>
                        </td>
                        <td>
                            <a th:if="${row.isFinished}"
                               th:href="@{/results/{id}(id=${row.gameId})}"
                               class="btn btn-outline-primary btn-sm"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               title="Zobacz typy i wyniki innych graczy po zakończeniu meczu">
                                <span class="icon text-white-50"></span>
                                <i class="fas fa-search"></i>
                                <span class="text"></span>
                            </a>
                        </td>


                    </tr>
                    <tr th:if="${#lists.isEmpty(games)}">
                        <td colspan="4" class="text-center h3 mb-2 text-gray-80">Brak meczy do wyświetlenia</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<div th:replace="footer"></div>