<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PredictionCup</title>


  <!-- Custom fonts for this template -->
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

  <!-- Table borders fix -->
  <link th:href="@{/css/table-borders.css}" rel="stylesheet">

  <!-- Design System - Custom navigation styles -->
  <link th:href="@{/css/design-system.css}" rel="stylesheet">

  <!-- Flag Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css"/>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" style="margin-left: 0;">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-gradient-primary topbar mb-4 static-top shadow" id="mainNavbar">

          <div class="navbar-content-wrapper w-100">

            <!-- First Row: Brand and User -->
            <div class="navbar-first-row">
              <!-- Brand -->
              <a class="navbar-brand d-flex align-items-center" th:href="@{/dashboard}" style="color: white;">
                <i class="fas fa-trophy mr-2"></i>
                <span class="font-weight-bold">PredictionCUP</span>
              </a>

              <!-- User Dropdown -->
              <div class="navbar-user-mobile dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdownMobile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-fw fa-user-circle"></i>
                  <span sec:authentication="name">User</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdownMobile">
                  <a class="dropdown-item" th:href="@{/profile}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profil
                  </a>
                  <a class="dropdown-item" th:href="@{/notifications}">
                    <i class="fas fa-bell fa-sm fa-fw mr-2 text-gray-400"></i>
                    Powiadomienia
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" onclick="event.preventDefault(); document.getElementById('logout-form-mobile').submit();">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Wyloguj
                  </a>
                </div>
                <form id="logout-form-mobile" th:action="@{/logout}" method="post" style="display: none;"></form>
              </div>
            </div>

            <!-- Second Row: Navigation and Logout -->
            <div class="navbar-second-row">
              <!-- Navigation Menu -->
              <ul class="navbar-nav navbar-menu-items">
                <!-- Nav Item - Games -->
                <li class="nav-item">
                  <a th:href="@{/games}" class="nav-link">
                    <span>Mecze</span>
                  </a>
                </li>

                <!-- Nav Item - Ranking -->
                <li class="nav-item">
                  <a th:href="@{/ranking}" class="nav-link">
                    <span>Ranking</span>
                  </a>
                </li>

                <!-- Nav Item - Comments -->
                <li class="nav-item">
                  <a th:href="@{/comments}" class="nav-link">
                    <span>Komentarze</span>
                  </a>
                </li>

                <!-- Admin Dropdown -->
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                  <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>Admin</span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="adminDropdown">
                    <a class="dropdown-item" th:href="@{/admin/games}">
                      Zarządzanie meczami
                    </a>
                    <a class="dropdown-item" th:href="@{/admin/games/new}">
                      Dodaj mecz
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </nav>
        <!-- End of Topbar -->
